@{
	Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Школа Олега Кудринского</title>
	<link rel='shortcut icon' href='/Letour.ico' />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/StyleSheet.min.css" rel="stylesheet" />
</head>
<body>
	<div id="background" class="om-background">
		<div id="bg1" class="om-background" style="background-color: black;"></div>
		<div id="bg2" class="om-background" style="background-color: black;"></div>
	</div>

	<div class="om-info-background">
		<div class=" om-zero-index">
			<div class="om-cleaner">
				<h1 class="om-headlines om-left">Контакты</h1>
				<div class="om-right om-wall-post-header">
					<a href="/OkMuay/Trainings">Тренировки</a>&nbsp;
					<a href="/">Главная</a>
				</div>
			</div>

			<div class="om-info-content om-cleaner om-vertical-padding">
				<p class="om-wall-post-header">
					Адрес: город Омск, улица Гагарина, дом 3, вход со стороны улицы Бударина у подземной парковки.<br/>
					Наши телефоны:&nbsp;&nbsp;&nbsp;
					<span class="om-nowrap">(3812) 59-24-26</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<span class="om-nowrap">(3812) 59-24-27</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<span class="om-nowrap">8-904-326-37-27</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					omfk@yandex.ru
				</p>	
			</div>

			<div>
				<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=4v-xZc5RLuErYm8ZobRnuZhea36rhqBV&width=100%&height=450"></script>
			</div>
			 
			<div class="om-full-width" style="height: 477px;background-image:url('/Images/address.png');background-position: center;background-repeat: no-repeat;background-size: cover;">
			</div>

		</div>
	</div>

	<div class="om-cover">
		<div class="om-cover-outer"></div>
		<div class="om-cover-inner"></div>
	</div>

	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/respond.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

	<script src="~/Scripts/okMuay/mainPage.js"></script>
</body>
</html>
